.checkout-complete {
  .step-bradcrumb {
    padding-bottom: 20px;
  }
  .body {
    .box {
      text-align: center;
      h2 {
        padding-bottom: 20px;
      }
    }
  }
}
.mpad {
    padding: 200px 0;
}