.pagePostList {
    background: #f1f1f1;
    color: black;
}
.pagePostList .ant-select-single, .pagePostList .ant-input-search {
    width: 100% !important;
}
.pagePostList .first-row {
    margin-bottom: 12px;
}
.pagePostList .second-row {
    margin-bottom: 12px;
}
.pagePostList .right-actions .button-add-post {
    color: #fff;
    background: #2fa2c1;
    border-color: #5aa9d0;
    float: right;
}
.pagePostList .right-actions .button-add-post:hover {
    color: #fff;
    background: #001529;
}

.pagePostList .right-actions .button-add-post a {
    color: #fff;
    text-decoration: none;
}

.pagePostList .right-actions .button-add-post a:hover {
    color: white;
}
.pagePostList .ant-list-header, .pagePostList .ant-list-footer {
    border: 1px solid #ccd0d4;
    border-bottom: 0px solid #ccd0d4;
    background: #fff;
    padding: 10px 0;
}
.pagePostList .ant-list-header .ant-checkbox-wrapper, .pagePostList .ant-list-footer .ant-checkbox-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
