.coupon__code {
  color: #0d0d0d;
  font-size: 14px;
  border-top: 2px solid #77b527;
  background: #f5f5f5;
  padding: 23px 30px 18px;
  margin-bottom: 50px;

  span {
    margin-right: 15px;
  }

  a {
    color: #0d0d0d;
  }
}

.checkout__title {
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.checkout__input {
  margin-bottom: 6px;

  p {
    color: #111111;
    margin-bottom: 12px;

    span {
      color: #e53637;
    }
  }

  input {
    height: 50px;
    width: 100%;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 20px;

    &::placeholder {
      color: #b7b7b7;
    }
  }
}

.checkout__input__checkbox {
  label {
    font-size: 15px;
    color: #0d0d0d;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 16px;
    display: block;

    input {
      position: absolute;
      visibility: hidden;

      &:checked ~ .checkmark {
        border-color: #e53637;
      }

      &:checked ~ .checkmark:after {
        opacity: 1;
      }
    }

    .checkmark {
      position: absolute;
      left: 0;
      top: 3px;
      height: 14px;
      width: 14px;
      border: 1.5px solid #d7d7d7;
      content: "";
      border-radius: 2px;

      &:after {
        position: absolute;
        left: 1px;
        top: -3px;
        width: 14px;
        height: 7px;
        border: solid #e53637;
        border-width: 1.5px 1.5px 0px 0px;
        -webkit-transform: rotate(127deg);
        -ms-transform: rotate(127deg);
        transform: rotate(127deg);
        content: "";
        opacity: 0;
      }
    }
  }

  p {
    color: #0d0d0d;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 22px;
  }
}

.checkout__order {
  background: #f3f2ee;
  padding: 30px;

  .order__title {
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }

  p {
    color: #444444;
    font-size: 16px;
    line-height: 28px;
  }

  .site-btn {
    width: 100%;
    margin-top: 8px;
  }
}

.checkout__order__products {
  font-size: 16px;
  color: #111111;
  overflow: hidden;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  p {
    display: block;
    margin: 0;
    padding: 0;
  }
  span {
    float: right;
  }
}

.checkout__total__products {
  margin-bottom: 20px;
  padding-left: 0;
  min-height: 235px;
  li {
    font-size: 16px;
    color: #444444;
    list-style: none;
    line-height: 26px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .product-item {
      display: flex;
      align-items: center;
      flex-basis: 65%;
      .product__cart__item__pic {
        float: left;
        margin-right: 10px;
        img {
          width: 100px;
          height: 100%;
        }
      }
      .product__cart__item__text {
        overflow: hidden;
        padding-top: 21px;
        h6 {
          color: #111111;
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        h5 {
          color: #0d0d0d;
          font-weight: 700;
        }
      }
    }
    p {
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    span {
      color: #111111;
      float: right;
    }
  }
}

.checkout__total__all {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 15px 0;
  margin-bottom: 26px;

  li {
    list-style: none;
    font-size: 16px;
    color: #111111;
    line-height: 40px;
    overflow: hidden;

    span {
      color: #e53637;
      font-weight: 700;
      float: right;
    }
  }
}

.step-bradcrumb {
  padding-bottom: 20px
}