.product__details__pic {
  text-align: center;
  background: #f3f2ee;
  padding: 40px 0 60px;
  min-height: 600px;
}
.product__details__pic .nav-tabs {
  border-bottom: none;
  width: 105px;
}
.product__details__pic .nav-tabs .nav-item {
  margin-bottom: 10px;
}
.product__details__pic .nav-tabs .nav-item:last-child {
  margin-bottom: 0;
}
.product__details__pic .nav-tabs .nav-item .nav-link {
  padding: 0;
  display: block;
}
.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic {
  height: 120px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic i {
  height: 56px;
  width: 56px;
  border: 4px solid white;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  line-height: 48px;
  display: inline-block;
  text-align: center;
}
.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic img {
  height: 100%;
}
.product__details__pic .nav-tabs .nav-item.show .nav-link,
.product__details__pic .nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent;
}
.product__details__pic .tab-content,
.product__details__pic .tab-pane,
.product__details__pic .product__details__pic__item {
  height: 100%;
}

.product__details__breadcrumb {
  margin-bottom: 30px;
}
.product__details__breadcrumb a {
  font-size: 15px;
  color: #111111;
  margin-right: 18px;
  display: inline-block;
  position: relative;
}
.product__details__breadcrumb a:after {
  position: absolute;
  right: -14px;
  top: 0;
  content: "\f105";
  font-family: "FontAwesome";
}
.product__details__breadcrumb span {
  font-size: 15px;
  color: #b7b7b7;
  display: inline-block;
}

.product__details__pic__item {
  position: relative;
}
.product__details__pic__item img {
  height: 100%;
}
.product__details__pic__item a {
  height: 56px;
  width: 56px;
  border: 4px solid white;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  line-height: 48px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -28px;
  margin-left: -28px;
}

.product__details__text {
  text-align: center;
}
.product__details__text h4 {
  color: #111111;
  font-weight: 700;
  margin-bottom: 10px;
}
.product__details__text .rating {
  margin-bottom: 20px;
}
.product__details__text .rating i {
  font-size: 15px;
  color: #f7941d;
  display: inline-block;
  margin-right: -5px;
}
.product__details__text .rating span {
  display: inline-block;
  color: #3d3d3d;
  margin-left: 5px;
}
.product__details__text h3 {
  color: #0d0d0d;
  font-weight: 700;
  margin-bottom: 16px;
}
.product__details__text h3 span {
  color: #b7b7b7;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
  text-decoration: line-through;
}
.product__details__text p {
  margin-bottom: 35px;
}

.product__details__option {
  margin-bottom: 30px;
}

.product__details__option__size {
  display: inline-block;
}
.product__details__option__size span {
  color: #111111;
  display: inline-block;
  margin-right: 10px;
}
.product__details__option__size label {
  color: #111111;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #e5e5e5;
  padding: 6px 15px;
  margin-bottom: 0;
  margin-right: 5px;
  cursor: pointer;
}
.product__details__option__size label.active {
  background: #111111;
  color: white;
  border-color: #111111;
}
.product__details__option__size label input {
  position: absolute;
  visibility: hidden;
}

.product__details__option__color {
  display: inline-block;
  position: relative;
  top: 10px;
}
.product__details__option__color span {
  color: #111111;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -9px;
}
.product__details__option__color label {
  height: 30px;
  width: 30px;
  border-radius: 50% !important;
  position: relative;
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block;
  cursor: pointer;
}
.product__details__option__color label.c-1 {
  background: #0b090c;
}
.product__details__option__color label.c-2 {
  background: #20315f;
}
.product__details__option__color label.c-3 {
  background: #f1af4d;
}
.product__details__option__color label.c-4 {
  background: #ed1c24;
}
.product__details__option__color label.c-9 {
  background: #ffffff;
}
.product__details__option__color label:after {
  position: absolute;
  left: -3px;
  top: -3px;
  height: 36px;
  width: 36px;
  border: 1px solid #e5e5e5;
  content: "";
  border-radius: 50%;
}
.product__details__option__color label input {
  position: absolute;
  visibility: hidden;
}

.product__details__cart__option {
  margin-bottom: 25px;
}
.product__details__cart__option button {
  height: 50px;
}
.product__details__cart__option .quantity {
  display: inline-block;
  margin-right: 20px;
}
.product__details__cart__option .quantity .pro-qty {
  width: 100px;
  height: 40px;
  border: 1px solid #e5e5e5;
  position: relative;
}
.product__details__cart__option .quantity .pro-qty input {
  color: #0d0d0d;
  font-size: 15px;
  font-weight: 700;
  width: 70px;
  height: 100%;
  text-align: center;
  border: none;
}
.product__details__cart__option .quantity .pro-qty .qtybtn {
  font-size: 18px;
  color: #0d0d0d;
  position: absolute;
  right: 15px;
  top: 3px;
  height: 10px;
  width: 10px;
  cursor: pointer;
  font-weight: 600;
}
.product__details__cart__option .quantity .pro-qty .qtybtn.inc {
  top: 16px;
}

.product__details__btns__option {
  margin-bottom: 40px;
}
.product__details__btns__option a {
  display: inline-block;
  font-size: 13px;
  color: #3d3d3d;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 20px;
}
.product__details__btns__option a:last-child {
  margin-right: 0;
}

.product__details__last__option .suppory-product {
  text-align: left;
}
.product__details__last__option .suppory-product p {
  margin-bottom: 0;
}
.product__details__last__option h5 {
  color: #111111;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  margin-bottom: 26px;
}
.product__details__last__option h5 span {
  background: white;
  padding: 0 30px;
}
.product__details__last__option h5:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  height: 1px;
  width: 460px;
  background: #e5e5e5;
  content: "";
  z-index: -1;
  margin: 0 auto;
}
.product__details__last__option ul {
  padding-top: 40px;
}
.product__details__last__option ul li {
  list-style: none;
  font-size: 15px;
  color: #111111;
  font-weight: 700;
  line-height: 30px;
}
.product__details__last__option ul li span {
  font-weight: 400;
  color: #b7b7b7;
}

.product__details__tab {
  padding-top: 60px;
}
.product__details__tab .nav-tabs {
  border-bottom: 1px solid #e5e5e5;
  justify-content: center;
}
.product__details__tab .nav-tabs .nav-item {
  margin-right: 50px;
}
.product__details__tab .nav-tabs .nav-item:last-child {
  margin-right: 0;
}
.product__details__tab .nav-tabs .nav-item .nav-link {
  font-size: 20px;
  color: #b7b7b7;
  padding: 0;
  border: none;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
}
.product__details__tab .nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid #e53637;
}

.product__details__tab__content {
  padding-top: 35px;
}

.note {
  color: #111111;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 25px;
}

.product__details__tab__content__item {
  margin-bottom: 30px;
}
.product__details__tab__content__item:last-child {
  margin-bottom: 0;
}
.product__details__tab__content__item h5 {
  color: #111111;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.product__details__tab__content__item p {
  margin-bottom: 0;
}

.related {
  padding-bottom: 55px;
}

.related-title {
  color: #111111;
  font-weight: 700;
  margin-bottom: 45px;
  text-align: center;
}

.ant-tabs-nav-list .product__side__pic__item {
  width: 100px;
  height: 120px;
}
.ant-tabs-nav-list .product__side__pic__item img {
  width: inherit;
  height: 100%;
  margin: auto;
}

.ant-tabs-tabpane {
  padding-left: 0 !important;
}
.ant-tabs-tabpane .product__main__pic__item {
  width: 100%;
}
.ant-tabs-tabpane .product__main__pic__item img {
  width: inherit;
  height: 100%;
  margin: auto;
  padding-right: 24px;
}

.ant-radio-button-wrapper {
  border: none;
}
.ant-radio-button-wrapper ::before {
  background-color: transparent;
}

.product__item {
  overflow: hidden;
  margin-bottom: 40px;
}
.product__item.sale .product__item__pic .label {
  color: #ffffff;
  background: #111111;
}
.product__item:hover .product__item__pic .product__hover {
  right: 20px;
  opacity: 1;
}
.product__item:hover .product__item__text .add-cart {
  top: 22px;
  opacity: 1;
  visibility: visible;
}
.product__item:hover .product__item__text .product__color__select {
  opacity: 1;
}
.product__item .product__item__pic {
  height: 260px;
  position: relative;
}
.product__item .product__item__pic a img {
  height: 100%;
  vertical-align: middle;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__item .product__item__pic .label {
  color: #111111;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 15px 2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 20px;
}
.product__item .product__item__pic .product__hover {
  position: absolute;
  right: -200px;
  top: 20px;
  transition: all, 0.8s;
}
.product__item .product__item__pic .product__hover li {
  list-style: none;
  margin-bottom: 10px;
  position: relative;
}
.product__item .product__item__pic .product__hover li:hover span {
  opacity: 1;
  visibility: visible;
}
.product__item .product__item__pic .product__hover li span {
  color: #ffffff;
  background: #111111;
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  position: absolute;
  left: -78px;
  top: 5px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all, 0.3s;
}
.product__item .product__item__pic .product__hover li span:after {
  position: absolute;
  right: -2px;
  top: 5px;
  height: 15px;
  width: 15px;
  background: #111111;
  content: "";
  transform: rotate(45deg);
  z-index: -1;
}
.product__item .product__item__pic .product__hover li img {
  background: #ffffff;
  padding: 10px;
  display: inline-block;
}
.product__item .product__item__text {
  padding-top: 25px;
  position: relative;
}
.product__item .product__item__text .add-cart {
  font-size: 15px;
  color: #e53637;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all, 0.3s;
  background: transparent;
  border: none;
  padding-left: 0;
}
.product__item .product__item__text h6 {
  color: #111111;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  transition: all, 0.3s;
}
.product__item .product__item__text .rating {
  margin-bottom: 6px;
}
.product__item .product__item__text .rating i {
  font-size: 14px;
  color: #b7b7b7;
  margin-right: -5px;
}
.product__item .product__item__text h5 {
  color: #0d0d0d;
  font-weight: 700;
}
.product__item .product__item__text h5 span {
  color: #b7b7b7;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
  text-decoration: line-through;
}
.product__item .product__item__text .product__color__select {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all, 0.5s;
}
.product__item .product__item__text .product__color__select label {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: #5e64d1;
  border-radius: 50%;
  margin-bottom: 0;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}
.product__item .product__item__text .product__color__select label.black {
  background: #404a47;
}
.product__item .product__item__text .product__color__select label.grey {
  background: #d5a667;
}
.product__item .product__item__text .product__color__select label.active:after {
  opacity: 1;
}
.product__item .product__item__text .product__color__select label:after {
  position: absolute;
  left: -3px;
  top: -3px;
  height: 18px;
  width: 18px;
  border: 1px solid #b9b9b9;
  content: "";
  border-radius: 50%;
  opacity: 0;
}
.product__item .product__item__text .product__color__select label input {
  position: absolute;
  visibility: hidden;
}/*# sourceMappingURL=detail-product.css.map */